<ng-container>
  <div class="cool-drop-container">
    
    <div class="cool-drop-area" 
      cooldrop 
      (hovered)="onHover($event)" 
      (dropped)="onDrop($event)" 
      [class.hovered]="hover">

      <div class="cool-drop-header">
        <h2>{{message}}</h2>
        <br>
        <button type="button" (click)="openPicker()" >Pick a file</button>
      </div>

      <div class="cool-drop-body" *ngIf="filesList.length > 0">
        
        <div class="cool-drop-body-header">
          <button type="button" (click)="openPicker()">Pick a file</button>
        </div>

        <div class="cool-drop-filelist">
          <div *ngFor="let item of filesList;let i=index" class="cool-drop-list-item" [style.border-bottom]="filesList.length == i+1 ? '1.5px solid #31b0d5' : ''">
            <span class="cool-drop-item-remove" (click)="removeItem(i)"><i class="fas fa-times"></i></span>
            <span class="cool-drop-item-title"><strong>File Name:</strong> {{item.name}}</span> 
            <p class="cool-drop-item-size">Size: {{item.size | filesize}}</p>
          </div>
        </div>

      </div>

      <input id="CoolDropInput" 
        hidden 
        (change)="onDrop($event.target.files)" 
        type="file" 
        [multiple]="multiple" 
        [accept]="accept" 
        [(ngModel)]="modelFiles"> 
    
    </div>
  </div>

</ng-container>
